[submodule "Modules/DirectXTex"]
	path = Modules/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "Modules/doxygen-awesome-css"]
	path = Modules/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "Modules/ImGui"]
	path = Modules/ImGui
	url = https://github.com/ocornut/imgui
[submodule "Modules/json"]
	path = Modules/json
	url = https://github.com/nlohmann/json
[submodule "Modules/PhysX"]
	path = Modules/PhysX
	url = https://github.com/NVIDIA-Omniverse/PhysX.git
[submodule "Modules/assimp"]
	path = Modules/assimp
	url = https://github.com/assimp/assimp.git
